admissionController:
  resources:
    limits:
      cpu: 10m
      memory: 100Mi
    requests:
      cpu: 5m
      memory: 50Mi

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "Addons-Services"
            operator: In
            values:
            - "true"

recommender:
  resources:
    limits:
      cpu: 10m
      memory: 100Mi
    requests:
      cpu: 5m
      memory: 50Mi

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
            - key: "Addons-Services"
              operator: In
              values:
              - "true"

updater:
  resources:
    limits:
      cpu: 10m
      memory: 100Mi
    requests:
      cpu: 5m
      memory: 50Mi

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
            - key: "Addons-Services"
              operator: In
              values:
              - "true"

crds:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
            - key: "Addons-Services"
              operator: In
              values:
              - "true"
  resources:
    limits:
      cpu: 10m
      memory: 100Mi
    requests:
      cpu: 5m
      memory: 50Mi
