extraArgs:
  - --enable-certificate-owner-ref=true

crds:
  # This option decides if the CRDs should be installed
  # as part of the Helm installation.
  enabled: true

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: "Addons-Services"
          operator: In
          values:
          - "true"

resources:
  limits:
    cpu: 10m
    memory: 200Mi
  requests:
    cpu: 5m
    memory: 100Mi

webhook:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "Addons-Services"
            operator: In
            values:
            - "true"

  resources:
    limits:
      cpu: 10m
      memory: 100Mi
    requests:
      cpu: 8m
      memory: 50Mi

cainjector:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "Addons-Services"
            operator: In
            values:
            - "true"

  resources:
    limits:
      cpu: 16m
      memory: 300Mi
    requests:
      cpu: 8m
      memory: 150Mi


prometheus:
  enabled: ${enable_service_monitor}
  servicemonitor:
    enabled: ${enable_service_monitor}
    labels:
      release: "prometheus-operator"
